
<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  
    <div class="form-row">
        <div class="col-sm-12">
          <label for="nome">Nome do Autor</label>
          <input type="text" class="form-control"
            placeholder="Nome do Autor" formControlName="nome"
            [ngClass]="{ 'is-invalid': submitted && hasError('nome')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']" >
            Por favor informe um nome para o autor.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']" >
            Nome precisa ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']" >
            Nome precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="sexo">Sexo</label>
          <select class="form-control" formControlName="sexo">
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
          </select>

          <div class="invalid-feedback" *ngIf="hasError('sexo') && hasError('sexo')['required']" >
            Por favor escolha um sexo.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            placeholder="E-mail"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && hasError('email')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('email') && hasError('email')['required']" >
            Por favor informe um email para o Autor.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="nascimento">Nascimento</label>
          <input type="date" class="form-control"
            placeholder="Nascimento do Autor"
            formControlName="nascimento"
            [ngClass]="{ 'is-invalid': submitted && hasError('nascimento')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('nascimento') && hasError('nascimento')['required']" >
            Por favor informe um nascimento para o autor.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('nascimento') && hasError('nascimento')['minlength']" >
            País precisa ter no mínimo {{ hasError('nascimento')['minlength'].requiredLength }} caracteres.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="pais">País</label>
          <input
            type="text"
            class="form-control"
            placeholder="País do Autor"
            formControlName="pais"
            [ngClass]="{ 'is-invalid': submitted && hasError('pais')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('pais') && hasError('pais')['required']" >
            Por favor informe um pais para o autor.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('pais') && hasError('pais')['minlength']" >
            País precisa ter no mínimo {{ hasError('pais')['minlength'].requiredLength }} caracteres.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="cpf">CPF</label>
          <input
            type="number"
            class="form-control"
            placeholder="Informe o cpf do autor"
            formControlName="cpf"
            [ngClass]="{ 'is-invalid': submitted && hasError('cpf')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('cpf') && hasError('cpf')['required']" >
            Por favor informe um CPF válido para o autor.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('cpf') && hasError('cpf')['minlength']" >
            País precisa ter no mínimo {{ hasError('cpf')['minlength'].requiredLength }} caracteres.
          </div>
        </div>
    </div>

    <div style="margin-top: 10px">
        <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
    </div>  
</form>
