<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Obras</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']" routerDirection="root">Nova Obra</button>
      <button type="button" class="btn btn-secondary" (click)="atualizaTabela()">Atualizar</button>
    </div>
  </div>


<div class="card-body">
    <table class="table table-hover" *ngIf="(obras$ | async) as obras; else loading">
      <thead>
        <tr>
          <th>Obra</th>
          <th>Nome</th>
          <th>publicacao</th>
          <th>Exposicao</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obra of obras">
          <td>{{ obra.id }}</td>
          <td>{{ obra.nome }}</td>
          <td>{{ obra.publicacao }}</td>
          <td>{{ obra.exposicao }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-warning mb-1 btn-sm" (click)="onEdit(obra.id)">
                Editar
              </button>
  
              <button class="btn btn-danger mb-1 btn-sm" (click)="onDelete(obra)">
                Deletar
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>

  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover essa Obra?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
    </div>
  </ng-template>