
<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  
    <div class="form-row">
        <div class="col-sm-12">
          <label for="nome">Nome da Obra</label>
          <input type="text" class="form-control"
            placeholder="Nome da Obra" formControlName="nome"
            [ngClass]="{ 'is-invalid': submitted && hasError('nome')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']" >
            Por favor informe um nome para a Obra.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']" >
            Nome precisa ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']" >
            Nome precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control"
            placeholder="Descrição da obra" formControlName="descricao"
            [ngClass]="{ 'is-invalid': submitted && hasError('descricao')}"
          />
          <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['required']" >
            Por favor informe uma descricao para a obra.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['minlength']" >
            Descricao precisa ter no mínimo {{ hasError('descricao')['minlength'].requiredLength }} caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['maxlength']" >
            Descricao precisa ter no máximo {{ hasError('descricao')['maxlength'].requiredLength }} caracteres.
          </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="publicacao">Publicação</label>
          <input type="text" class="form-control"
            placeholder="Publicação"
            formControlName="publicacao"
          />
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-12">
          <label for="exposicao">Exposição</label>
          <input type="text" class="form-control"
            placeholder="Exposição"
            formControlName="exposicao"
          />
        </div>
    </div>


    <div style="margin-top: 10px">
        <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
    </div>  
</form>
