<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Autores</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']" routerDirection="root">Novo Autor(a)</button>
      <button type="button" class="btn btn-secondary" (click)="atualizaTabela()">Atualizar</button>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-hover" *ngIf="(autores$ | async) as autores; else loading">
      <thead>
        <tr>
          <th>Autor</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Data Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let autor of autores">
          <td>{{ autor.id }}</td>
          <td>{{ autor.nome }}</td>
          <td>{{ autor.cpf }}</td>
          <td>{{ autor.nascimento }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-warning mb-1 btn-sm" (click)="onEdit(autor.id)">
                Editar
              </button>

              <button class="btn btn-danger mb-1 btn-sm" (click)="onDelete(autor)">
                Deletar
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
  </div>
</ng-template>